@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { scroll-behavior: smooth; }
  body {
    font-family: 'Lato', sans-serif;
    background-color: #F4F6F8;
    color: #0B1F3A;
    overflow-x: hidden;
  }
}
