@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { scroll-behavior: smooth; }
  body {
    font-family: 'DM Sans', sans-serif;
    background-color: #FAFAF8;
    color: #1E1E1A;
    overflow-x: hidden;
  }
}
